.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
	width: 305px !important;
  padding: 0;
  font: 12px sans-serif;
	background: none;
  border: 0px;
  border-radius: 8px;
}
div.tooltip .title {
	position: relative;
	padding: 0.8em 8px;
	color: #fff;
	font-weight: normal;
	background: #008BC2;
	border-radius: 2px;
}
div.tooltip .title:after {
	content: "";
	display: block;
	width: 16px;
	height: 8px;
	margin: 0 auto;
	position: absolute;
	top: -7px;
	left: 0;
	right: 0;
	background: url(../images/bg_top_diseases.svg) no-repeat;
}
div.tooltip .value {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.4em 8px;
	font-size: 26px;
	background: #fff;
	border-radius: 2px;
}
div.tooltip .value span {
	padding-left: 1.2em;
	font-size: 0.62em;
}
.axis--x path {
  display: none;
}

.legend_color_large {
  width: 3em;
  height: 1em;
  display: inline-block;
  margin-left: 8px;
  margin-right: 10px;
  vertical-align: middle;
}

#pickup-row {
  padding-top: 10px;
  background-color: #232628;
}

#pickup-row-inner {
  -webkit-transform: translateY(23px);
          transform: translateY(23px);
  margin-top: -23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#pickup-container {
  position: relative;
  width: 100%;
  height: 215px;
}

#pickup-container .columns {
  position: absolute;
  top: 0;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
}

.column {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 33.333%;
  width: 390px;
  padding: 0 11px;
}

.column:first-child {
  padding-left: 0;
}

.column:last-child {
  padding-right: 0;
}

.card {
  position: relative;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
  color: #FFF;
  text-align: center;
  border-radius: 3px;
}

.card-content {
  height: 215px;
  padding: 35px 43px;
}

#card-about {
  background-color: #32AADC;
}

#card-analyze {
  background-color: #FFB437;
}

#card-database {
  background-color: #DC5046;
}

.jc-icon {
  margin-bottom: 25px;
}

.jc-icon img {
  width: 72px;
  height: 72px;
}

.jc-name .title {
  margin: 0;
}

.jc-desc {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  height: 120px;
  text-align: left;
  margin-top: 20px;
}

.jc-desc p {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.3em;
}

.jc-action {
  margin-top: 55px;
}

.jc-action .button {
  border: 2px solid #FFF;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.jc-name h1.title:before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin: 0 auto 25px auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.card-content:hover .jc-name h1.title:before {
  display: none;
}

#card-about .jc-name h1.title:before {
  background-image: url(../images/icon_about-knonc.svg);
}

#card-analyze .jc-name h1.title:before {
  background-image: url(../images/icon_analyze.svg);
}

#card-database .jc-name h1.title:before {
  background-image: url(../images/icon_database.svg);
}

.jc-desc {
  display: none;
}

.card-content:hover .jc-desc {
  display: block;
  -webkit-animation: show 0.2s linear 0s;
          animation: show 0.2s linear 0s;
}

#main {
  padding: 35px 0 43px;
}

#main .column {
  text-align: center;
  position: relative;
}

#main .column p.title {
  margin-bottom: 30px;
}

#main .column .desc {
  text-align: left;
  margin-bottom: 50px;
  padding: 0 50px;
}

#main .column .col-lg-6,
#main .column .col-lg-9 {
  width: 100%;
  float: none;
  padding: 0;
}

#main .column .col-lg-6 p,
#main .column .col-lg-9 p {
  padding: 130px 0;
  background-color: #CCC;
}

#main .column .col-lg-6 label {
  font-weight: lighter;
}

#main .column .col-lg-6 #disease-patients-legend {
  text-align: left;
  margin-top: 50px;
  padding: 0 50px;
}

#main .column .stat {
  width: 100%;
  padding: 45px 35px;
}

#main .column .stat ul {
  margin: 0;
  padding: 0;
}

#main .column .stat ul li {
  list-style: none;
  font-size: 27px;
  line-height: 1.1;
  margin-bottom: 28px;
  float: none;
  clear: both;
}

#main .column .stat ul li:last-child {
  margin-bottom: 0;
}

#main .column .stat ul li .name {
  display: block;
  font-size: 11.5px;
  font-weight: lighter;
}

#main .column .stat-left ul li {
  text-align: left;
}

#main .column .stat-left ul li img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 25px;
}

#main .column .stat-right ul li {
  text-align: right;
}

#main .column .stat-right ul li img {
  width: 40px;
  height: 40px;
  float: right;
  margin-left: 25px;
}

#main .column .stat-left {
  padding-left: 90px;
  margin-bottom: 17px;
  background: url(../images/bg_stat-left.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#main .column .stat-right {
  padding-right: 90px;
  background: url(../images/bg_stat-right.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#main .column .button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  border: none;
  color: #32AADC;
}

#main .column .button:hover {
  color: #666;
}

#gene-mutations-svg svg {
  width: 100%;
  height: 580px;
}

#gene-mutations-svg .gene-count-label {
  font-size: 12px;
  font-weight: bolder;
  fill: #FFF;
}

#gene-mutations-svg .x-label {
  font-size: 12px;
}

#disease-patients-svg svg {
  width: 100%;
  height: 300px;
}

@media (max-width: 1367px) {
  #pickup-container {
    position: relative;
    height: 94px;
  }

  #pickup-container .columns {
    position: absolute;
    top: 0;
  }

  .card-content {
    height: auto;
    padding: 23px 45px;
  }

  .jc-name h1.title {
    position: relative;
    height: 48px;
    line-height: 48px;
  }

  .jc-name h1.title:before {
    position: absolute;
    left: 0;
    width: 48px;
    height: 48px;
    margin: 0;
  }

  .card-content:hover .jc-name h1.title:before {
    display: block;
  }

  #main .column {
    z-index: -1;
  }
}